*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
}

header {
    background: url("img/bg_one.jpg") no-repeat top/cover;
    height: 850px;
    z-index: 9999 !important;
}

a {
    transition: 200ms ease !important;
}
.navbar-nav .nav-item .nav-link  {
    font-size: 12px;
    font-weight: 700;
    display: block;
    position: relative;
}
.navbar-nav .nav-item .nav-link::after {
    display: block;
    content: '';
    position: absolute;
    opacity: 0;
    width: 0;
    height: 2px;
    background: #d9534f;
    left:.5rem;
    bottom: 0;
    transition: 250ms ease;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
}
.navbar-nav .nav-item .nav-link:hover::after,
.navbar-nav .nav-item .nav-link.active::after
{
    width:calc(100% - 1rem);
    opacity: 1;
}
.heading_content p{
    font-size: 18px;
}

.btn{
    border-radius: 30px !important;
}

.bg_notlg{
    background: #ffffff;
    height: 100px;
    z-index:999;
}
.bg_notlg .navbar-nav .nav-item .nav-link {
    color: #292b2c;
}

.feature-item {
    padding: 30px;
    text-align: center;
    z-index: 1 !important;
}

.feature-item h5 {
    margin: 1.5rem;
}

.contact_us{
    background: url("img/bg.jpg");
    height: 300px;
}

.contact_us h2{
    padding-top: 100px !important;
}

.menu_not_lg{
    z-index: 9999;
}

hr{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.carousel-indicators li{
    background-color: #aeaeae !important;
    
    
}

.carousel-indicators .active{
    background-color: #fe504f !important;
} 

.scene {
    width: 180px;
    height:180px;
    
  }
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    width:180px;
    height: 180px;
  }
  
  .card__face--back {
    width: 180px;
    height: 180px;
    background: #fe504f;;
    transform: rotateY( 180deg );
  }
  .card.is-flipped {
    transform: rotateY(180deg);
    width: 180px;
    height: 180px;
  }

  .card__face--back h5{
    font-family: Verdana;
    font-size: 28px;
    font-weight: 700;
  }

  .card__face--back hr{
    background-color: #bb3030 !important;
  }
  .card__face--back p{
    font-family: Verdana;
    font-size: 10px;
  }
  .clients{
      height: 23vh;
      width: 23vh;  
  }

  .clients_for_mobile{
    height: 14vh;
    width: 14vh;  
  }
  .navbar-light .navbar-toggler {
    color: #fe504f !important;
    border-color: rgb(254, 80, 79) !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(254, 80, 79)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.strategic{
    background: url("img/bg_two.jpg");
    height: 300px !important;
}

.button_play{
    padding-top: 60px !important;
}

.strategic p {
     font-size: 12px;
}

.new-image_one{
    background: url("img/news/1.png");
    height: 300px;
}
.new-image_two{
    background: url("img/news/2.png");
    height: 300px;
}
.new-image_three{
    background: url("img/news/3.png");
    height: 305px;
}



.skokov_contact{
    background: url("img/bg_four.jpg");
    
}
.form-control{
    background-color: rgba(0, 0, 0, 0) !important;
}


.goto-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
    font-size:2rem;
    opacity: .7;
}
.goto-top:hover {
    opacity: 1;
}

.fixed-menu {
    top: 0;
    left: 0;
    z-index: 9999;
}